{% extends 'base.html' %}

{% block title %}About Us - HotWheelz{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>About HotWheelz</h2>
        <p>
            Welcome to HotWheelz, your ultimate destination for exploring the world of luxury and sports cars.
            We are passionate about bringing you the latest information and stunning visuals of your favorite car brands.
            Whether you're a car enthusiast or just curious, HotWheelz is the place to be for an exhilarating experience.
        </p>

        <h4>Our Mission</h4>
        <p>
            At HotWheelz, we strive to provide a platform where car lovers can indulge in the beauty and performance of
            top-notch sports cars. Our mission is to showcase the finest collections, share exciting stories, and
            celebrate the artistry behind every remarkable automobile.
        </p>
    </div>
{% endblock %}
