{% extends 'base.html' %}

{% block title %}Car Brand Detail - HotWheelz{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>{{ car_brand.name }}</h2>

        <!-- Display other details as needed -->
        <div class="row mt-3">
            {% for car_model in car_brand.carmodel_set.all %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ car_model.image_url }}" class="card-img-top" alt="{{ car_model.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ car_model.name }}</h5>
                            <a href="{% url 'car_model_detail' brand_id=car_brand.pk model_id=car_model.pk %}" class="btn btn-info btn-sm">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="mt-4">
            <a href="{% url 'car_brand_update' pk=car_brand.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'car_brand_delete' pk=car_brand.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endblock %}
